MONGODB_URI=mongodb://Harshitak:HakSI_3112@ac-y4ijyad-shard-00-00.ynlraji.mongodb.net:27017,ac-y4ijyad-shard-00-01.ynlraji.mongodb.net:27017,ac-y4ijyad-shard-00-02.ynlraji.mongodb.net:27017/?ssl=true&replicaSet=atlas-yj71wr-shard-0&authSource=admin&appName=Cluster0
